<html>
  <head>
    <title>Olin Heartbot</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../../static/js/audiosynth.js"></script>
    <link rel="stylesheet" href="../../static/styles/styles.css"/>
  </head>

  <script type="text/javascript">
    var Synth = new AudioSynth;
    var piano = Synth.createInstrument('piano');
    var notes = ['C','D','E','F','G','A','B'];
    var octaves = [3,4,5];

    var all_notes = [];

    var count = 0;

    for (var i=0; i<octaves.length; i++) {
      for (var j=0; j<notes.length; j++) {
        count++;
        all_notes[count] = {'note': notes[j], 'octave':octaves[i]};

        // (function(i,j) {
        //   setTimeout(function() {
        //     console.log(notes[j], octaves[i]);
        //     piano.play(notes[j], octaves[i], 2); // plays C4 for 2s using the 'piano' sound profile
        //   }, 2000*count);
        // })(i,j);

      }
    }

  </script>

  <body>

    <h1>Olin Heartbot</h1>

    <ul id="subjectline"></ul>

    <div id="main"></div>
  </body>

  <script type="text/javascript">

  // D3 HEART CONSTRUCTION AND ANIMATION
  // -----------------------------------

  // create svg
  var minSize = Math.min(500,$(window).width() - 40,$(window).height() - 40);
  var w = minSize;
  var h = minSize;

  var svg = d3.select("#main")
    .append("svg")
    .attr("width", $(window).width() - 100)
    .attr("height", $(window).height() - 150);

  // create array of heart data points
  //Formula from http://mathworld.wolfram.com/HeartCurve.html
  var x, y;
  var data = [];
  for (var i = 0; i < 350; i++) {
    t = i*0.1;
    x = 16 * Math.pow(Math.sin(t),3);
    y = 13 * Math.cos(t) - 5* Math.cos(2*t) - 2 * Math.cos(3*t) - Math.cos(4*t)
    data[i] = [x,y];
  }

  // create scales for data
  var xScale = d3.scale.linear()
    .domain([d3.min(data, function(d) { return d[0]; }), d3.max(data, function(d) { return d[0]; })])
    .range([ 0, w ]);

  var yScale = d3.scale.linear()
    .domain([d3.min(data, function(d) { return d[1]; }), d3.max(data, function(d) { return d[1]; })])
    .range([ h, 0 ]);

  // create a line for the heart shape
  var line = d3.svg.line()
    .x(function(d){ return xScale(d[0]) })
    .y(function(d){ return yScale(d[1]) });

  // create heart group centered in the svg
  var group = svg.append('g')
    .attr("width", w)
    .attr("height", h)
    .attr('transform', 'translate(' + ($(document).width() - w) / 2 + ',' + ($(document).height() - h) / 3 + ')');

  // draw the heart path
  var path = group.append("path")
    .attr("id", "heart")
    .attr("d", line(data));

  // CREATE A LIST OF MESSAGES RECIEVED IN THE PAST HOUR
  var past_hour = [];

  // helper function for scaling
  function getOffsets(selection) {
    var selection_box = selection.node().getBBox();
    var offsetX = parseFloat(selection_box["x"])+
                  parseFloat(selection_box["width"]/2.0);
    var offsetY = parseFloat(selection_box["y"])+
                  parseFloat(selection_box["height"]/2.0);
    return {"x":offsetX, "y":offsetY};
  }

  // CHECK FOR NEW MESSAGES EVERY SECOND
  // -----------------------------------

  setInterval(function() {
    $.get("/nextmessage")
    .done(function(res) {

      // if it's new or we just refreshed
      // this is non-ideal (doesn't preserve list after refresh)
      if (!res['resend_old_message'] || $('li').length==0) {

        // add to our list
        var info = {'size': parseInt(res['size']), 'secs':(new Date(res['date'])).getTime()}
        past_hour.push(info);

        // remove expired data and get current size
        var total_bytes = 0;
        for (var i=0; i<past_hour.length; i++) {
          el = past_hour[i];
          if ((new Date).getTime() - el['secs'] > 3600000) {
            past_hour.splice(i, 1);
          }
          else {
            total_bytes += el['size'];
          }
        }

        var offsets_size = getOffsets(d3.select("path#heart"))
        var scale = total_bytes/1000000;
        if (scale>1.5) {scale=1.5;}
        if (scale<.1) {scale=.1;}

        // scale heart based on size
        d3.select("path#heart")
            .transition()
              .duration(2)
              .attr('transform',"translate("+offsets_size['x']+ ","+offsets_size['y']+") "+
                                "scale("+scale+") "+
                                "translate(-"+offsets_size['x']+",-"+offsets_size['y']+ ")");

        $('#subjectline').prepend('<li>'+res['subject']+'</li>');

        // cycle through subject lines list to set opacity
        // if it's low enough, remove it so it doesn't go on forever
        $("li").each(function(index) {
          var opacity = 1.0/(index+1);
          if (opacity > 0.033334) {
            if (index==0) {
              $(this).css('opacity', 1);
            }
            else {
              $(this).css('opacity', (0.8-.03*index));
            }
          }
          else {
            $(this).remove();
          }
        });

        // get appropriate piano note
        var sentiment = res['sentiment'] + 1; //convert to 0-2 scale instead of -1 to 1
        var sentiment_scaled = sentiment*all_notes.length/2;
        console.log(Math.round(sentiment_scaled));
        var note = all_notes[Math.round(sentiment_scaled)];

        // random
        // piano.play(note['note'], note['octave'], Math.random() * (3 - .5) + .5);

        // by message size
        piano.play(note['note'], note['octave'], res['size']/100000);

        var current_scale = 0;
        setTimeout(function() {
          current_scale = d3.transform(d3.select("path#heart").attr("transform"))['scale'][0];
        }, 100)

        setTimeout(function() {

          var offsets = getOffsets(d3.select('path#heart'));

          var scale_factor = 1.2;

          d3.select("path#heart")
            .transition()
              .duration(500)
              .ease('elastic')
              .attr('transform',"translate("+offsets['x']+ ","+offsets['y']+") "+
                                "scale("+current_scale*scale_factor+") "+
                                "translate(-"+offsets['x']+",-"+offsets['y']+ ")")
            .transition()
              .duration(400)
              .ease('bounce')
              .attr('transform',"translate("+offsets['x']+ ","+offsets['y']+") "+
                                "scale("+current_scale/scale_factor+") "+
                                "translate(-"+offsets['x']+",-"+offsets['y']+ ")")
        }, 100);

        // make a new heart for the transparent "echo"
        setTimeout(function() {

          // create new heart
          var path = group.append("path")
            .attr("id", "heartecho")
            .attr("d", line(data));

          var offsets_echo = getOffsets(d3.select('path#heartecho'));

          d3.select("path#heartecho")
            .transition()
              .attr('transform',"translate("+offsets_echo['x']+ ","+offsets_echo['y']+") "+
                                    "scale("+(current_scale*1.2)+") "+
                                    "translate(-"+offsets_echo['x']+",-"+offsets_echo['y']+ ")")
            .transition()
              .duration(600)
              .attr('transform',"translate("+offsets_echo['x']+ ","+offsets_echo['y']+") "+
                                    "scale("+(current_scale*1.8)+") "+
                                    "translate(-"+offsets_echo['x']+",-"+offsets_echo['y']+ ")")
              .style('opacity',0)
            .remove();
        }, 100);
      }
    });
  }, 1000)

  </script>
</html>
